NUXT_ENV_API_URL=https://api.themoviedb.org/3/
NUXT_ENV_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZWQ2ZmM4NDZiNTljZmM0ZGE0ZDRjZDBkYTMwOTdlZSIsInN1YiI6IjVhZWUyOGE0MGUwYTI2MTAzZTAwMTQzOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Wk6ZVJuOmO2r5KcD6n_979u4eOaNO5zabkdAZZJzJOA